#global
{
	/*border:3px #111 solid;*/
	margin:-8px
}
body
{
	background-color:#DDD;
}

nav
{
	width:100%;
}

nav table
{
	width:100%;
	border-collapse:collapse;
}

#pageVisite
{
	background-color:#D00;
}

nav table th
{
	height:50px;
	background-color:#F44;
	width:20%;
}

#logo
{
	width:20%;
	background-color:#F44
}

nav table th a
{
	text-decoration:none;
	color:white;
	display:block;
	height:100%;
	line-height:50px;
}

nav table th:hover
{
	background-color:#D00;
}

.Jour
{
	text-align:center;
}
.title
{
	color:white;
	border:2px black solid;
	font-size:16pt;
}
#global > table td
{
	border:2px black solid;
	width:200px;
}
#global > table
{
	border-collapse:collapse;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
}
#global > table th
{
	background:#F44;
}

form
{
	width:80%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#global button
{
	color: white;
	background:#F44;
}
#image1
{
	width:100%;
}
#map 
{
    width: 500px;
	height: 400px;
	margin-left:auto;
	margin-right:auto;
}
#TODOList
{
	margin-right:5%;
	margin-left:5%;
	margin-bottom:10%;
	margin-top:0px;
	background-color:#FFF;
	height:3000px;
	box-shadow: 0px 10px 25px #888888;
}